$font-heading: 'Montserrat', sans-serif;
$font-body: 'Catamaran', sans-serif;
$color-gold: #fab405;
$color-dark: #292826;
$color-grey: #3b3a37;
$color-light: #ffffff;
$color-card: rgb(72, 69, 67);
$maxWidth: 960px;
$minTablet: 767px;

.test {
  border: solid 2px red;
}
.test2 {
  border: solid 2px green;
}
.test3 {
  border: solid 2px blue;
}

html {
  .sr {
    visibility: hidden;
  }

  .load-hidden {
    visibility: hidden;
  }

  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  font-family: $font-body;
  color: $color-light;
  line-height: 1.5;
  background-color: $color-dark;
  font-weight: normal;
  position: relative;
}

.bg {
  background-image: linear-gradient(
      rgba(41, 40, 38, 0.5),
      rgba(41, 40, 38, 0.5)
    ),
    url('../img/pexels-james-frid-1098764.jpg');
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

header {
  nav {
    background-color: rgba(41, 40, 38, 0.8);
  }

  .logo-img {
    max-height: 6rem;
    max-width: 100%;
  }

  #menu {
    a {
      letter-spacing: 0.06em;
      font-size: 1.16rem;
      text-decoration: none;
    }
  }

  @media (max-width: 991.98px) {
    .offcanvas-collapse {
      position: fixed;
      top: 90px; /* Height of navbar */
      bottom: 0;
      left: 100%;
      width: 35%;
      background-color: rgba(41, 40, 38, 0.8);
      padding-right: 1rem;
      padding-left: 1rem;
      text-align: right;
      overflow-y: auto;
      visibility: hidden;
      transition: visibility 0.2s ease-in-out,
        -webkit-transform 0.2s ease-in-out;
      transition: transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
      transition: transform 0.2s ease-in-out, visibility 0.2s ease-in-out,
        -webkit-transform 0.2s ease-in-out;
    }
    .offcanvas-collapse.open {
      visibility: visible;
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
}

.full-pg {
  min-height: 100vh;
}

#hero {
  h2 {
    font-family: $font-heading;
    font-size: 2.6rem;
  }

  .line {
    background: $color-light;
    height: 0.2px;
    width: 18%;
    border: none;
  }
}

#about {
  .drop-shadow {
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3);
  }

  h2 {
    font-family: $font-heading;
    font-size: 2.4rem;
  }

  p {
    font-size: 1.16rem;
  }
}

#services {
  background-color: $color-grey;

  h2 {
    font-family: $font-heading;
    font-size: 2.4rem;
  }

  .drop-shadow {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04),
      0 14px 18px -8px rgba(0, 0, 0, 0.11), 0 12px 12px -5px rgba(0, 0, 0, 0.09),
      0 11px 8px 0 rgba(0, 0, 0, 0.03) !important;
  }

  .card-bg {
    background-color: $color-card;
  }

  h3 {
    font-family: $font-heading;
  }
}

#our-work {
  h2 {
    font-family: $font-heading;
    font-size: 2.4rem;
  }

  @mixin media($size) {
    @if $size == 'tabletUpwards' {
      @media screen and (min-width: $minTablet) {
        @content;
      }
    }
  }

  .drop-shadow {
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3);
  }

  .comparison-slider-wrapper {
    position: relative;
    width: 100%;
    margin: 20px 0;

    .comparison-slider {
      position: relative;
      width: 100%;
      margin: 0;
      box-sizing: border-box;
      > img {
        width: 100%;
        display: block;
      }

      .resize {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 50%;
        overflow: hidden;
        > img {
          display: block;
        }
      }

      .divider {
        position: absolute;
        width: 2px;
        height: 100%;
        background-color: rgba(256, 256, 256, 0.2);
        left: 50%;
        top: 0;
        bottom: 0;
        margin-left: -1px;
        cursor: ew-resize;
        &:before {
          content: '';
          position: absolute;
          width: 20px;
          height: 20px;
          left: -9px;
          top: 50%;
          margin-top: -10px;
          background-color: white;
          transform: rotate(45deg);
          transition: all 0.1s ease-in-out;
        }
        &:after {
          content: '';
          position: absolute;
          width: 12px;
          height: 12px;
          left: -5px;
          top: 50%;
          margin-top: -6px;
          background-color: white;
          transform: rotate(45deg);
          transition: all 0.1s ease-in-out;
        }
        &.draggable {
          &:before {
            width: 30px;
            height: 30px;
            left: -14px;
            margin-top: -15px;
          }
          &:after {
            width: 20px;
            height: 20px;
            left: -9px;
            margin-top: -10px;
            background-color: #555;
          }
        }
      }
    }
  }
}

#hours {
  background-color: $color-grey;

  h2 {
    font-family: $font-heading;
    font-size: 2.4rem;
  }

  p {
    font-size: 1.16rem;
  }

  .line {
    background: rgba(255, 255, 255, 0.3);
    height: 0.2px;
    width: 30%;
    border: none;
  }

  .open-color {
    color: rgba(255, 255, 255, 0.8);
  }
}

#footer {
  h2 {
    font-family: $font-heading;
    font-size: 2.4rem;
  }

  p {
    font-size: 1.16rem;
  }

  .line {
    background: rgba(255, 255, 255, 0.1);
    height: 0.2px;
    width: 100%;
    border: none;
  }

  .open-color {
    color: rgba(255, 255, 255, 0.8);
  }

  a {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.8);
  }
}
